
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 {
        font-size: 2.5rem;
    }
 }
    

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1 {
        font-size: 3.4rem;
    }
    p {
        font-size: 1.25rem;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1 {
        font-size: 4.2rem;
    }
    p {
        font-size: 1.5rem;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 1.75rem;
    }
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    h1 {
        font-size: 5.2rem;
    }
    p {
        font-size: 2rem;
    }
 }
