* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}
body {
    background-color: #8ba888;
}
h1 {
    padding-top: 2vh;
}
